<footer class="bg-dark text-white mt-4 border-top">
  <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center gap-2 py-4">
    <div class="d-flex align-items-center gap-2">
    <div class="container">
      <%= link_to root_path do %>
        <%= image_tag "Nuevo logo footer.png", alt: "Logo", class:"navbar-logo me-2" %>
      <% end %>
    </div>
      <a href="#" class="link-light fs-3 opacity-75"><i class="fab fa-github"></i></a>
      <a href="#" class="link-light fs-3 opacity-75"><i class="fab fa-instagram"></i></a>
      <a href="#" class="link-light fs-3 opacity-75"><i class="fab fa-facebook"></i></a>
      <a href="#" class="link-light fs-3 opacity-75"><i class="fab fa-twitter"></i></a>
      <a href="#" class="link-light fs-3 opacity-75"><i class="fab fa-linkedin"></i></a>
    </div>

    <p class="mb-0 text-white-50">
      This app is made with <i class="fas fa-heart text-danger"></i> by The Trusty Team
    </p>
  </div>
</footer>
