<div class="position-relative w-100 min-vh-100 overflow-hidden">
  <%# imagen que cubre toda la pantalla %>
  <%= image_tag "banner_final.png",
        alt: "TrueWheels banner",
        class: "position-absolute top-0 start-0 w-100 h-100 object-fit-cover",
        style: "object-position: center 85%;" %>
</div>
