<div class="position-relative w-100 min-vh-100 overflow-hidden">
  <%# imagen que cubre toda la pantalla %>
  <%= image_tag "banner_final.png",
        alt: "TrueWheels banner",
        class: "position-absolute top-0 start-0 w-100 h-100 object-fit-cover",
        style: "object-position: center 85%;" %>
</div>

<div class="container m-4 shadow p-3">
  <div class="cards">
    <% Car.all.each do |car| %>
      <div class="card-category p-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
        url('<%= car.image_url %>')">
        <%= link_to car.brand, car_path(car), class: "text-white text-center text-decoration-none" %>
      </div>
    <% end %>
  </div>
</div>
