.button-arrow {
    background-image: asset-url("button.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    border: none;
    width: 48px;
    height: 48px;
    box-shadow: 4px, 4px, 8px, rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    align-self: center;
}
