// .input-chat {
//   align-items: stretch;
//   border: 1px solid lightgray;
//   border-radius: 5px;
//   width: 150vh;
//   margin: 10px;
// }

// @media (max-width: 600px) {
//   .input-chat{
//     width: 45vh;
//     margin: 10px;
//   }
// }

.input-chat {
  border: 1px solid lightgray;
  border-radius: 8px;
  width: 100%;
  max-width: 100%;
}
